html, body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Noticia Text', serif;
}

header {
  height: 828px;
  background: url("../assets/img/main background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-wrapper {
  max-width: 1440px;
  height: 828px;
  margin-left: auto;
  margin-right: auto;
}

.header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1173px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 61px;
}

.header-line .logo {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: 2px;
  margin-top: auto;
  margin-bottom: auto;
  color: #FCFCFC;
}

.header-line nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 361px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 90px;
}

.header-line nav a {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  color: #FCFCFC;
  opacity: 0.8;
}

.header-line .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 262px;
  width: 100%;
}

.header-line .phone img {
  height: 28.8px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-line .phone p {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #FCFCFC;
}

.header-line img {
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 138px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1169px;
  width: 100%;
}

.header-container .headline-container {
  max-width: 852px;
  width: 100%;
}

.header-container .headline-container p {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.header-container .headline-container .headline {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;
  color: #FCFCFC;
}

.header-container .headline-container .pink {
  color: #f61067;
}

.header-container .scroll-container {
  height: 318px;
}

.header-container .scroll-container p {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FCFCFC;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-container .scroll-container img {
  height: 35px;
  width: 9px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2%;
}

.subheader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1015px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-top: 70px;
  margin-left: -260px;
}

.subheader-container .subheader {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 38px;
  margin-left: 365px;
  color: #FCFCFC;
}

.subheader-container img {
  width: 14px;
  height: 5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 39px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 2.5% 2%;
}

.intro-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.intro-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1293px;
  margin-left: auto;
  margin-top: 108px;
}

.intro-container__item .text-container {
  max-width: 460px;
  margin-top: 36px;
}

.intro-container__item .text-container .headline {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0;
  color: #F61067;
}

.intro-container__item .text-container .intro-headline {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  margin: 0;
  margin-top: 18px;
  color: #30233D;
}

.intro-container__item .text-container .title {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  margin-top: 10px;
  color: #30233D;
}

.intro-container__item .text-container .subtitle {
  font-family: M PLUS 1p;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  margin-top: 36px;
  color: #776C82;
}

.intro-container__item .text-container button {
  border: none;
  background: #F61067;
  border-radius: 36px;
  max-width: 197px;
  width: 100%;
  padding: 2.7% 9%;
  margin: 0;
  margin-top: 54px;
  margin-bottom: 207px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.intro-container__item .image-container {
  max-width: 705px;
  width: 100%;
  max-height: 774px;
  position: relative;
}

.intro-container__item .image-container .background-image {
  max-width: 441px;
  position: absolute;
  left: 260px;
  z-index: 1;
}

.intro-container__item .image-container .main-image {
  position: absolute;
  padding-right: 244px;
  margin-top: 36px;
  z-index: 2;
}

.intro-container__item .image-container .quote-text {
  background-color: #30124E;
  position: absolute;
  margin-top: 36px;
  margin-left: 324px;
  z-index: 3;
  text-align: center;
  max-width: 377px;
  width: 100%;
}

.intro-container__item .image-container .quote-text .open {
  font-family: Noticia Text;
  font-style: italic;
  font-weight: bold;
  font-size: 140px;
  line-height: 194px;
  color: #F4F4ED;
  opacity: 0.25;
}

.intro-container__item .image-container .quote-text p {
  font-family: Noticia Text;
  max-width: 255px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-weight: normal;
  font-size: 22.5px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FCFCFC;
}

.intro-container__item .image-container .quote-text .close {
  font-family: Noticia Text;
  font-style: italic;
  font-weight: bold;
  font-size: 140px;
  line-height: 192px;
  color: #F4F4ED;
  opacity: 0.25;
}

.benefits {
  background: -webkit-gradient(linear, left top, right top, color-stop(63%, #30124e), color-stop(63%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #30124e 63%, rgba(255, 255, 255, 0) 63%);
  position: relative;
  z-index: 1;
}

.benefits-container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.benefits-container__item {
  max-width: 1293px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits-container__item .text-container {
  max-width: 460px;
  margin-left: 147px;
  padding-top: 144px;
  padding-bottom: 189px;
}

.benefits-container__item .text-container .headline {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0;
  color: #F61067;
}

.benefits-container__item .text-container .benefits-headline {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  margin: 0;
  margin-top: 11px;
  color: #FCFCFC;
}

.benefits-container__item .text-container .title {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  margin-top: 17px;
  color: #FCFCFC;
}

.benefits-container__item .text-container .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  margin-top: 71px;
  color: #FCFCFC;
}

.benefits-container__item .text-container button {
  border: none;
  background: #F61067;
  border-radius: 36px;
  max-width: 197px;
  width: 100%;
  padding: 2.7% 9%;
  margin: 0;
  margin-top: 48px;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.benefits-container__item .image-container {
  max-width: 558px;
  width: 100%;
  margin-top: 198px;
}

.benefits-container__item .image-container p {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  /* Colors/Secondary_100 */
  color: #5E239D;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.benefits-container__item .image-container .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 166px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
}

.benefits-container__item .image-container .slider-container span {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #F4F4ED;
}

.benefits-container__item .image-container .slider-container img {
  max-width: 9.88px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5%;
}

.services {
  background-color: #150433;
  margin-top: -231px;
}

.services-container {
  max-width: 1104px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 324px;
  padding-bottom: 261px;
}

.services-container .text-container {
  max-width: 558px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.services-container .text-container .headline {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0;
  color: #F61067;
}

.services-container .text-container .services-headline {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
  margin: 0;
  margin-top: 12px;
  color: #FCFCFC;
}

.services-container .text-container .title {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  margin-top: 23px;
  padding-bottom: 20px;
  color: #FCFCFC;
}

.services-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.services-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 318px;
  margin-top: 56px;
}

.services-container ul li img {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  max-width: 72px;
  max-height: 72px;
}

.services-container ul li span {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #00F0B5;
  margin-top: 18px;
}

.services-container ul li .pink {
  color: #F61067;
}

.services-container ul li .orange {
  color: #F67110;
}

.services-container ul li p {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: normal;
  font-size: 16.2px;
  line-height: 26px;
  color: #FCFCFC;
  margin-top: 27px;
}

.services-container button {
  border: none;
  background: #F61067;
  border-radius: 36px;
  max-width: 197px;
  width: 100%;
  margin: 0;
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.15% 3.6%;
  color: #FCFCFC;
}

.testimomial {
  background: #FCFCFC;
}

.testimonial-container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonial-container .image-container {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-container .image-container .faces {
  margin-left: auto;
  margin-right: auto;
}

.testimonial-container .image-container .main {
  max-width: 460px;
  width: 100%;
  position: absolute;
  z-index: 2;
  margin-top: -126px;
}

.testimonial-container .image-container .quotes {
  max-width: 92.25px;
  max-height: 79.73px;
  position: absolute;
  z-index: 3;
  margin-top: 302px;
}

.testimonial-container .text-container {
  margin-top: 67px;
  margin-bottom: 136px;
}

.testimonial-container .text-container .testimomial-text {
  max-width: 1144px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial-container .text-container .testimomial-text .prev {
  width: 36px;
  height: 36px;
  background: #F61067;
  border: 1px solid #F61067;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.testimonial-container .text-container .testimomial-text span {
  max-width: 754px;
  font-family: Noticia Text;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #30233D;
}

.testimonial-container .text-container .testimomial-text .next {
  width: 36px;
  height: 36px;
  border: 1px solid #F61067;
  background: #FCFCFC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.testimonial-container .text-container span {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}

.testimonial-container .text-container .pink {
  color: #F61067;
}
/*# sourceMappingURL=style.css.map */