html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noticia Text', serif;
}

@font-face {
    font-family: 'M PLUS 1p thin';
    src: url('../assets/fonts/MPLUS1p-Thin.ttf')
  }
  
  @font-face {
    font-family: 'M PLUS 1p regular';
    src: url('../assets/fonts/MPLUS1p-Regular.ttf')
  }
  
  @font-face {
    font-family: 'M PLUS 1p medium';
    src: url('../assets/fonts/MPLUS1p-Medium.ttf')
  }
  
  @font-face {
    font-family: 'M PLUS 1p light';
    src: url('../assets/fonts/MPLUS1p-Light.ttf')
  }
  
  @font-face {
    font-family: 'M PLUS 1p bold';
    src: url('../assets/fonts/MPLUS1p-Bold.ttf')
  }
  
  @font-face {
    font-family: 'M PLUS 1p extrabold';
    src: url('../assets/fonts/MPLUS1p-ExtraBold.ttf')
  }
  
  @font-face {
    font-family: 'M PLUS 1p black';
    src: url('../assets/fonts/MPLUS1p-Black.ttf');
  }

header {
    height: 828px;
    background: url("../assets/img/main background.png");
    background-repeat: no-repeat;
    background-size: cover;

    
}

.header-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 828px;

    margin-left: auto;
    margin-right: auto;
}

.header-line {
    display: flex;
    justify-content: space-between;

    max-width: 1173px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 61px;

    padding-left: 1%;
    padding-right: 1%;

    .logo {
        font-family: 'M PLUS 1p extrabold';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 43px;
        letter-spacing: 2px;

        margin-top: auto;
        margin-bottom: auto;

        color: #FCFCFC;
    } //logo

    nav {
        display: flex;
        justify-content: space-between;

        max-width: 361px;
        width: 100%;

        margin-top: auto;
        margin-bottom: auto;
        margin-left: 90px;

        a {
            font-family:'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 14.4px;
            line-height: 30px;

            text-decoration: none;

            letter-spacing: 2px;

            color: #FCFCFC;

            transition: font-size 0.5s, color 0.5s;

            &:hover {
                font-size: 15px;
                color: #F61067;
            }
        }

    } //nav

    .phone {
        display: flex;
        justify-content: space-between;

        max-width: 262px;
        width: 100%;

        img {
            height: 28.8px;

            margin-top: auto;
            margin-bottom: auto;
        }

        a {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 14.4px;
            line-height: 30px;
            letter-spacing: 2px;

            margin-top: auto;
            margin-bottom: auto;

            text-decoration: none;

            color: #FCFCFC;
            transition: font-size 0.5s, color 0.5s;

            &:hover {
                color: #F61067;
            }
        }
    }

    #menu__toggle {
        opacity: 0;
    }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
      
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
      
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        // left: 0;
    }
      
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 68px;

        margin-left: -14px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
    }
      
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #FCFCFC;
      
        transition-duration: .25s;

        &:hover { 
            background-color: #F61067;}
    }
      
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
      
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
      
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 0;
      
        width: 300px;
        max-height: 828px;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #35145a60;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
    }
      
    .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #FCFCFC;
      
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
    }
      .menu__item:hover {
        background-color: rgba(246, 16, 104, 0.411);
    }

} //header-line

.header-container {
    display: flex;
    justify-content: space-between;

    margin-top: 138px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 1%;
    padding-right: 1%;

    max-width: 1169px;
    width: 100%;

    .headline-container {

        max-width: 852px;
        width: 100%;

        p {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 14.4px;
            line-height: 30px;
            letter-spacing: 4px;
            text-transform: uppercase;
            
            color: #FCFCFC;
        }

        .headline {
            font-family: 'M PLUS 1p black';
            font-style: normal;
            font-weight: 900;
            font-size: 99px;
            line-height: 118px;
            
            color: #FCFCFC;
        }
        .pink {
            color: rgb(246,16,103);
        }
    }

    .scroll-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 343px;
        max-width: 29px;
        width: 100%;

        align-items: center;
        text-align: center;
        padding-right: 1%;

        transition: transform 1s;


        a {
            font-family:'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 26px;
            letter-spacing: 6px;
            text-transform: uppercase;

            text-decoration: none;

            color: #FCFCFC;
            writing-mode: tb;
            margin-left: auto;
            margin-right: auto;

            transition: color 0.5s;
        }

        img {
            height: 35px;
            width: 9px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 10% 10%;

            transition: border-color 0.5s;
        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;

            a {
                color: rgb(246,16,103);
            }

            img {
                border-color: rgb(246,16,103);
            }
        }
    } //scroll-container
} //header-container

.subheader-container {
    display: flex;
    justify-content: space-between;

    max-width: 1015px;
    width: 100%;

    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: border 0.5s, border-radius 1s,;

    margin-top: 70px;
    margin-left: -260px;

    .subheader {
        font-family: 'M PLUS 1p regular';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        display: flex;
        align-items: center;

        text-decoration: none;

        margin: 0;
        padding-top: 37px;
        padding-bottom: 38px;
        margin-left: 365px;
        
        color: #FCFCFC;
        
    }

    img {
        width: 14px;
        height: 5px;

        margin-top: auto;
        margin-bottom: auto;
        margin-right: 39px;

        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        padding: 2.5% 2%;

        transition: border 0.5s, margin-right 1s;
    }

    &:hover {
        border: 1.5px solid #F61067;
        border-radius: 0 50px 50px 0;

        img {
            margin-right: 20px;
            border: 2px solid #F61067;
        }
    }
} //subheader-container

main {
    scroll-behavior: smooth;
} //main

.intro {
} //intro

.intro-container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 1%;
    padding-right: 1%;
}

.intro-container__item {
    display: flex;
    justify-content: space-between;

    max-width: 1293px;
    margin-left: auto;
    margin-top: 108px;

    .text-container {
        max-width: 460px;
        margin-top: 36px;

        .headline {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 26px;
            letter-spacing: 6px;
            text-transform: uppercase;

            margin: 0;

            color: #F61067;
        }

        .intro-headline {
            font-family: 'M PLUS 1p medium';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 67px;

            margin: 0;
            margin-top: 18px;

            color: #30233D;
        }

        .title {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 29px;

            margin: 0;
            margin-top: 10px;

            color: #30233D;
        }

        .subtitle {
            font-family: 'M PLUS 1p regular';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;

            margin: 0;
            margin-top: 36px;

            color: #776C82;
        }

        button {
            border: none;
            background: #F61067;
            border-radius: 36px;

            max-width: 197px;
            width: 100%;

            padding: 2.7% 9%;
            margin: 0;
            margin-top: 54px;
            margin-bottom: 135px;

            font-family: 'M PLUS 1p medium';
            font-style: normal;
            font-weight: 500;
            font-size: 13.5px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;

            color: #FCFCFC;

            border: 2px solid;
            transition: background-color 0.5s, color 0.5s, border 0.5s;

            &:hover {
                background: #FCFCFC;
                color: #F61067;
                border: 2px solid #F61067;
            }
        }
        
    } //.text-container

    .image-container {
        max-width: 705px;
        width: 100%;
        max-height: 774px;

        position: relative;

        .background-image {
            max-width: 441px;
            position: absolute;
            left: 260px;

            z-index: 1;
        }

        .main-image {
            max-width: 406px;
            width: 100%;
            
            position: absolute;
            padding-right: 244px;
            margin-top: 36px;
            z-index: 2;

        }

        .quote-text {
            background-color: #30124E;

            position: absolute;
            margin-top: 36px;
            margin-left: 324px;
            z-index: 3;
            text-align: center;

            max-width: 377px;
            width: 100%;

            .open {
                font-family: 'Noticia Text';
                font-style: italic;
                font-weight: bold;
                font-size: 140px;
                line-height: 194px;
                
                color: #F4F4ED;
                opacity: 0.25;
            }

            p {
                font-family: 'Noticia Text';
                max-width: 255px;
                margin: 0;
                margin-left: auto;
                margin-right: auto;

                font-style: italic;
                font-weight: normal;
                font-size: 22.5px;
                line-height: 40px;
                display: flex;
                align-items: center;
                
                color: #FCFCFC;
            }

            .close {
                font-family: 'Noticia Text';
                font-style: italic;
                font-weight: bold;
                font-size: 140px;
                line-height: 192px;
                
                color: #F4F4ED;
                opacity: 0.25;
            }
        }
    }
} //.intro-container__item

.benefits {
    background: linear-gradient(90deg, rgba(48,18,78,1) 63%, rgba(255,255,255,0) 63%);
    position: relative;
    z-index: 1;

} //benefits

.benefits-container {
    max-width: 1440px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}

.benefits-container__item {
    max-width: 1293px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .text-container {
        max-width: 460px;
        margin-left: 147px;
        padding-top: 144px;
        padding-bottom: 189px;

        .headline {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 26px;
            letter-spacing: 6px;
            text-transform: uppercase;

            margin: 0;

            color: #F61067;
        }

        .benefits-headline {
            font-family: 'M PLUS 1p medium';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 67px;

            margin: 0;
            margin-top: 11px;

            color: #FCFCFC;
        }

        .title {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 29px;

            margin: 0;
            margin-top: 17px;

            color: #FCFCFC;
        }

        .subtitle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            font-family: 'M PLUS 1p regular';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;

            margin: 0;
            margin-top: 71px;

            color: #FCFCFC;
        }

        button {
            border: none;
            background: #F61067;
            border-radius: 36px;

            max-width: 197px;
            width: 100%;

            padding: 2.7% 9%;
            margin: 0;
            margin-top: 48px;

            font-family: 'M PLUS 1p medium';
            font-style: normal;
            font-weight: 500;
            font-size: 13.5px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;

            color: #FCFCFC;

            border: 2px solid rgba(48,18,78,1);
            transition: background-color 0.5s, color 0.5s, border 0.5s;

            &:hover {
                background: rgba(48,18,78,1);
                color: #F61067;
                border: 2px solid #F61067;
            }
        }
    } //text-container

    .image-container {
        
        .image-container__item {
            display: flex;
        }

        max-width: 558px;
        width: 100%;

        margin-top: 198px;

        img {

        }

        p {
            font-family: 'M PLUS 1p black';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 6px;
            text-transform: uppercase;

            /* Colors/Secondary_100 */

            color: #5E239D;
            writing-mode: tb;
            margin-top: auto;
            margin-bottom: auto;
        }

        .slider-container {
            display: flex;
            max-width: 166px;
            width: 100%;
            justify-content: space-between;

            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            padding-left: 130px;

            span {
                font-family: Mplus 1p;
                font-style: normal;
                font-weight: 800;
                font-size: 12.6px;
                line-height: 26px;

                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 6px;
                text-transform: uppercase;

                color: #F4F4ED;
            }

            img {
                max-width: 9.88px;
                height: 9px;
                border: 1px solid white;
                border-radius: 50%;
                padding: 5%;

                transition: border 0.5s, background-color 1s;

                &:hover {
                    border: 1px solid #F61067;
                    background-color: #F61067;
                }
            
            }
        }

    } //image-container

} //benefits-container__item

.services {
    background-color:  #150433;
    margin-top: -235px;

} //services

.services-container {
    max-width: 1104px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    padding-top: 324px;
    padding-bottom: 261px;

    .text-container {
        max-width: 558px;
        width: 100%;

        margin-left: auto;
        margin-right: auto;

        text-align: center;

        .headline {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 6px;
            text-transform: uppercase;

            margin: 0;
            
            color: #F61067;
        }

        .services-headline {
            font-family: 'M PLUS 1p medium';
            font-style: normal;
            font-weight: 500;
            font-size: 45px;
            line-height: 67px;

            text-align: center;

            margin: 0;
            margin-top: 12px;

            color: #FCFCFC;
        }

        .title {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 29px;
            text-align: center;

            margin: 0;
            margin-top: 23px;

            padding-bottom: 20px;

            color: #FCFCFC;
        }

    } //text-container

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        list-style-type: none;

        li {
            display: flex;
            flex-direction: column;
            width: 318px;
            margin-top: 56px;

            img {
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 50%;

                max-width: 72px;
                max-height: 72px;
            }

            span {
                font-family: 'M PLUS 1p medium';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;

                color: #00F0B5;

                margin-top: 18px;

                
            }
            .pink {
                color: #F61067;
            }

            .orange {
                color: #F67110;
            }
            
            
            p {
                font-family: 'M PLUS 1p regular';
                font-style: normal;
                font-weight: normal;
                font-size: 16.2px;
                line-height: 26px;

                color: #FCFCFC;

                margin-top: 27px;
            }

        }
    } //ul

    button {
        border: none;
        background: #F61067;
        border-radius: 36px;

        max-width: 197px;
        width: 100%;

        margin: 0;
        margin-top: 74px;
        margin-left: auto;
        margin-right: auto;

        

        font-family: 'M PLUS 1p medium';
        font-style: normal;
        font-weight: 500;
        font-size: 13.5px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        padding: 1.15% 3.6%;

        color: #FCFCFC;

        border: 2px solid #150433;
        transition: background-color 0.5s, color 0.5s, border 0.5s;

            &:hover {
                background: #150433;
                color: #F61067 ;
                border: 2px solid #F61067 ;
            }
    }

} //services-container

.testimonial {
    background: #FCFCFC;
    
}

.testimonial-container {
    max-width: 1440px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
        

    text-align: center;

    .image-container{
        max-width: 1440px;
        width: 100%;

        display: flex;
        flex-direction: column;

        text-align: center;
        align-items: center;

        .faces {
            max-width: 1268px;
            width: 100%;

            margin-left: auto;
            margin-right: auto;

            // position: absolute;
            // z-index: 1;
        }

        .main {
            max-width: 460px;
            width: 100%;
            position: absolute;
            z-index: 2;
        

            margin-top: -126px;
          
        }

        .quotes {
            max-width: 92.25px;
            max-height: 79.73px;
            position: absolute;
            z-index: 3;

            margin-top: 302px;
        }

    } //image-container

    .text-container {
        margin-top: 67px;
        padding-bottom: 136px;
        

        .testimonial-text {
            max-width: 1144px;
            width: 100%;

            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

            display: flex;
            justify-content: space-between;

            .prev {
                .active {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                width: 36px;
                height: 36px;

                border: 1px solid #F61067;
                background: #FCFCFC;
                box-sizing: border-box;
                border-radius: 50%;

                margin-top: auto;
                margin-bottom: auto;

                transform: rotate(180deg);

                .hover {display: none;}

                transition: background-color 0.5s;

                &:hover {
                    .hover{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        transform: rotate(180deg);
                    }

                    .active {
                        display: none;
                    }

                    width: 36px;
                    height: 36px;

                    background: #F61067;
                    
                    border: 1px solid #F61067;
                    box-sizing: border-box;
                    border-radius: 50%;

                    margin-top: auto;
                    margin-bottom: auto;
                }
            }



            span {
                max-width: 754px;

                font-family: Noticia Text;
                font-style: italic;
                font-weight: normal;
                font-size: 36px;
                line-height: 64px;
                text-align: center;
                
                color: #30233D;
            }

            .next {
                .active {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                width: 36px;
                height: 36px;

                border: 1px solid #F61067;
                background: #FCFCFC;
                box-sizing: border-box;
                border-radius: 50%;

                margin-top: auto;
                margin-bottom: auto;

                .hover {display: none;}

                transition: background-color 0.5s;

                &:hover {
                    .hover{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        transform: rotate(180deg);
                    }

                    .active {
                        display: none;
                    }

                    width: 36px;
                    height: 36px;

                    background: #F61067;
                    
                    border: 1px solid #F61067;
                    box-sizing: border-box;
                    border-radius: 50%;

                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        } //testimomial-text

        span {
            font-family: 'M PLUS 1p regular';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 29px;

            text-align: center;
        }
        .pink {
            color: #F61067;
        }

    } //text-container
    
} //testimonial-container

.newsletter {

    max-width: 613px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 126px;
    margin-bottom: 141px;

    span {
        font-family: 'M PLUS 1p medium';
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 67px;

        text-align: center;

        color: #30233D;
    }

    p {
        font-family: 'M PLUS 1p medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        
        text-align: center;
        
        color: #776C82;
    }

    .form {
        max-width: 558px;
        width: 100%;



        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;

        display: flex;
        justify-content: space-between;
    }

    .input {
        max-width: 331px;
        width: 100%;

        font-family: 'M PLUS 1p extrabold';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 37px;
        
        letter-spacing: 4px;
        text-transform: uppercase;
        
        color: #9B94A3;
        border: none;
        border-bottom: 3px solid #F4F4ED;

        transition: border-bottom 0.5s;

        &:hover {
            border-bottom: 3px solid #F61067;
        }
    }

    .submit {
        max-width: 227px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        font-family: 'M PLUS 1p extrabold';
        font-style: normal;
        font-weight: 800;
        font-size: 12.6px;
        line-height: 26px;

        align-items: center;
        letter-spacing: 6px;
        text-transform: uppercase;

        padding: 2.5% 0;

        color: #F61067;

        background: linear-gradient(180deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        border: none;
        border-bottom: 3px solid #F4F4ED;

        transition: border-bottom 0.5s;

        &:hover {
            border-bottom: 3px solid #F61067;
        }
        
    }

} //.newsletter


footer {
    background-color: #150433;
}

.footer-container {
    max-width: 1440px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-top: 126px;
    padding-bottom: 124px;

    .quote {
        font-family: Mplus 1p;
        font-style: normal;
        font-weight: normal;
        font-size: 11.7px;
        line-height: 19px;
        
        color: #FCFCFC;

        margin-left: 441px;
        
    }
}

.information-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;

    .logo-container {
        max-width: 166px;
        width: 100%;

        margin-left: 147px;
        margin-right: 128px;

        span {
            font-family: 'M PLUS 1p extrabold';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 43px;

            letter-spacing: 2px;

            color: #FCFCFC;
        }

        p {
            font-family: 'Mplus 1p';
            font-style: normal;
            font-weight: normal;
            font-size: 16.2px;
            line-height: 26px;

            color: #FCFCFC;
        }
    } //.logo-container

    .menu-container {
        span {
            font-family: 'Mplus 1p';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 28px;

            border-bottom: 1px solid #F61067;

            letter-spacing: 6px;
            text-transform: uppercase;

            color: #FCFCFC;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {

                a {
                    font-family: 'Mplus 1p Bold';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12.6px;
                    line-height: 28px;
                    letter-spacing: 1px;

                    text-decoration: none;

                    color: #FCFCFC;

                    transition: font-size 0.5s, color 0.5s;

                    &:hover {
                        font-size: 14px;
                        color: #F61067;
                    }
                }
            }
        }
    } //.menu-container

    .service-container {
        margin-left: 36px;
        span {
            font-family: 'Mplus 1p';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 28px;

            border-bottom: 1px solid #F61067;

            letter-spacing: 6px;
            text-transform: uppercase;

            color: #FCFCFC;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {

                a {
                    font-family: 'Mplus 1p Bold';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12.6px;
                    line-height: 28px;
                    letter-spacing: 1px;

                    text-decoration: none;

                    color: #FCFCFC;
                    transition: font-size 0.5s, color 0.5s;
                    

                    &:hover {
                        font-size: 14px;
                        color: #F61067;
                    }
                }
            }
        }
    } //services-container

    .contact-us-container {
        max-width: 168px;
        margin-left: 86px;


        span {
            font-family: 'Mplus 1p';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 28px;

            border-bottom: 1px solid #F61067;

            letter-spacing: 6px;
            text-transform: uppercase;

            color: #FCFCFC;
        }

        ul {
            list-style-type: none;
            padding: 0;
            
            li {

                a {
                    text-decoration: none;
                    font-family: 'Mplus 1p Bold';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16.2px;
                    line-height: 26px;

                    color: #FCFCFC;
                    mix-blend-mode: normal;
                    transition: color 0.5s;

                    &:hover {
                        color: #F61067;
                    }

                   
                }
                #mail {
                    width: 12px;
                    background: url('../assets/img/mail\ footer.png') no-repeat;
                    background-position-y: center;
                    padding-left: 30px;
                }

                #tel {
                    width: 9px;
                    background: url('../assets/img/phone\ footer.png') no-repeat;
                    background-position-y: center;
                    padding-left: 30px;
                }
            }
        }
    } //contact-us-container

    .follow-us-container {
        padding-left: 130px;
        max-width: 264px;
        width: 100%;

        span {
            font-family: 'Mplus 1p';
            font-style: normal;
            font-weight: 800;
            font-size: 12.6px;
            line-height: 28px;

            border-bottom: 1px solid #F61067;

            letter-spacing: 6px;
            text-transform: uppercase;

            color: #FCFCFC;
        }
        
        ul {
            padding: 0;

            list-style-type: none;

            display: flex;
            justify-content: space-between;

            li {

                a {
                    
                    img {
                        transition: transform 0.5s;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }

        }
    } //.follow-us-container
} //information-block


