@media (max-width: 795px) {

    .header-wrapper {
        max-width: 435px;
    }
    .header-container {
        max-width: 435px;
        margin-top: 80px;

        .header-line {
            max-width: 430px;
        }
        .headline-container {

            .headline {
                font-size: 82px;
            }
        }
    }

    .subheader-container {
        margin-top: 44px;
        margin-left: -175px;

        .subheader {
            margin-left: 105px;
            font-size: 15px;
            line-height: 24px;
            padding-left: 16%;
        }
    }

    .intro-container__item {

        .image-container {

            .background-image {
                display: none;
            }

            .main-image {
                padding: 0;
                margin-left: 13%
            }

            .quote-text {
                max-width: 290px;
                margin-top: 394px;
                margin-left: 45%;

                .open {
                    font-size: 80px;
                    line-height: 110px;
                }

                p {

                }

                .close {
                    font-size: 80px;
                    line-height: 110px;
                }
            }
        } //.image-container

        .text-container {
            max-width: 468px;
            width: 100%;
            padding-left: 3%;
        }
    } //.intro-container__item

    .benefits-container__item {

        .image-container {

            .image-container__item {

                img {
                    max-width: 445px;
                }
            }
            .slider-container {
                margin-left: 10%;
            }
        }

        .text-container {

            padding-bottom: 13%;
            .text-container {
                font-size: 38px;
                line-height: 45px;
            }

            .title {
                font-size: 15px;
                line-height: 23px;
            }

            .subtitle {

                p {
                    font-size: 15px;
                    line-height: 20px;
                }
            }

            button {
                max-width: 197px;
            }
        }

    } //.benefits-container__item

    .services-container {
        padding-top: 10%;


        .text-container {
            max-width: 494px;
            padding-left: 2%;
            padding-right: 2%;
        }
    } //.services-container

    .testimonial-container { 

        .image-container { 
            .faces {
                max-width: 748px;
                margin-top: 12%;
            }
        }

        .text-container {
            margin-top: 88px;
            padding-bottom: 59px;

            .testimonial-text {
                max-width: 443px;
                width: 100%;
                margin-top: 1%;

                span {
                    max-width: 346px;
                    font-size: 23px;
                    line-height: 39px;
                }
            }
            
            span {
                font-size: 15px;
                line-height: 25px;
            }
        }
    } //.testimonial-container

    .newsletter {
        text-align: center;
        span {
            font-size: 26px;
        }

        p {
            font-size: 15px;
        }

        .form {
            max-width: 450px;

            .input {
                max-width: 325px;
                font-size: 15px;
            }

            .submit {
                max-width: 221px;
                font-size: 11.6px;
            }
        }
    } // .newsletter
}